<a href="https://colab.research.google.com/github/Parvathi-nair04/beginners-hypothesis-2023/blob/main/beginners_hypothesis_galaxies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df_test=pd.read_csv('/content/gdrive/MyDrive/beg hypothesis/test.csv')

In [ ]:
df_test

,radio_frequency,B_field,capture_rad,ang_class,dist_from_obs_ly,star1_redshift,luminosity,star2_redshift,ext_temp,b_class
0,13.847038,3.420000e-09,35.892849,alpha,42.190316,19.317659,5030.024313,41.062202,16.519720,2
1,17.357120,2.160000e-09,40.926183,alpha,29.073718,26.641200,4189.809739,36.989132,30.487612,3
2,45.458139,4.020000e-09,25.771537,alpha,15.126236,34.508841,4766.252434,26.678785,29.433535,3
3,13.459710,2.170000e-09,33.077063,alpha,41.986773,20.032369,5084.220616,30.830743,31.030701,3
4,27.787212,2.150000e-09,24.157264,alpha,41.986773,18.400701,2158.500688,18.289046,31.333728,3
...,...,...,...,...,...,...,...,...,...,...
495,30.268835,3.790000e-09,43.004674,alpha,23.244364,29.226268,4739.416892,37.990132,23.608112,2
496,38.148344,3.910000e-09,24.950179,alpha,41.986773,35.643537,6211.252410,29.525682,33.393150,2
497,34.173976,4.450000e-09,26.422615,alpha,20.394055,31.607640,5376.443164,40.623018,27.622435,2
498,33.158077,4.630000e-09,43.004674,alpha,33.954285,41.343852,3045.215072,21.629922,16.519720,3
499,23.304440,2.610000e-09,38.347364,alpha,26.409209,19.639606,4459.603199,38.362224,12.442378,3

In [ ]:
df_train=pd.read_csv('/content/gdrive/MyDrive/beg hypothesis/train.csv')

In [ ]:
df_train

,radio_frequency,B_field,capture_rad,ang_class,dist_from_obs_ly,star1_redshift,luminosity,star2_redshift,ext_temp,b_class,target
0,28.744706,3.590000e-09,19.592496,alpha,NaN,23.994950,NaN,34.939900,25.511543,3.0,Alpha Boreas
1,44.166331,4.510000e-09,43.004674,alpha,28.397134,28.943042,4230.266381,28.181097,26.047880,2.0,Alpha Boreas
2,30.834897,4.410000e-09,33.429970,alpha,NaN,37.999181,6237.993588,29.577628,30.748244,2.0,Beta Eioneous
3,17.479827,3.540000e-09,12.976150,alpha,41.986773,17.683204,NaN,40.623018,29.488469,3.0,Zeta Draconis
4,30.268452,3.800000e-09,26.458232,alpha,11.548628,21.498649,6237.993588,25.976439,27.169169,2.0,Zeta Draconis
...,...,...,...,...,...,...,...,...,...,...,...
1995,41.551013,4.420000e-09,33.146966,alpha,24.282921,21.694687,2818.571131,22.299077,NaN,2.0,Gamma Saggita
1996,31.104158,3.000000e-09,43.004674,alpha,16.859181,31.464783,4178.867596,22.679037,24.569472,2.0,Alpha Boreas
1997,NaN,4.450000e-09,18.849264,alpha,18.108120,40.557671,4528.968755,NaN,22.913804,2.0,Alpha Boreas
1998,37.997708,3.640000e-09,20.748943,alpha,39.666448,41.473909,3832.446538,19.432455,25.480769,3.0,Beta Eioneous
1999,30.158330,NaN,17.498736,alpha,41.986773,41.942552,6237.993588,20.944371,33.492452,NaN,Zeta Draconis

In [ ]:
df_train=df_train.drop(columns=['ang_class'])

In [ ]:
df_test=df_test.drop(columns=['ang_class'])

In [ ]:
df_train["target"] = df_train["target"].map({"Alpha Boreas": 1, "Beta Eioneous": 2,"Zeta Draconis":3,'Gamma Saggita':4,'Alpha Hemithea':5})

In [ ]:
df_train

,radio_frequency,B_field,capture_rad,dist_from_obs_ly,star1_redshift,luminosity,star2_redshift,ext_temp,b_class,target
1,44.166331,4.510000e-09,43.004674,28.397134,28.943042,4230.266381,28.181097,26.047880,2.0,1
4,30.268452,3.800000e-09,26.458232,11.548628,21.498649,6237.993588,25.976439,27.169169,2.0,3
5,45.758172,4.790000e-09,33.069141,35.703142,36.082859,2774.746406,20.983020,16.989387,2.0,2
6,44.166331,3.310000e-09,9.796517,28.955755,12.131275,2337.382377,19.185568,33.612046,2.0,3
7,36.050881,3.970000e-09,30.857818,19.674179,30.445047,4683.183157,27.999956,33.492452,1.0,4
...,...,...,...,...,...,...,...,...,...,...
1991,24.756548,3.350000e-09,42.539275,34.874516,22.447339,5026.922201,39.111349,27.783576,3.0,5
1992,33.250408,3.660000e-09,24.641387,26.568518,19.986972,2684.026649,28.033468,22.760159,2.0,3
1993,44.166331,3.540000e-09,25.637203,16.082163,22.664991,4101.853910,35.724976,30.244266,2.0,1
1996,31.104158,3.000000e-09,43.004674,16.859181,31.464783,4178.867596,22.679037,24.569472,2.0,1
1998,37.997708,3.640000e-09,20.748943,39.666448,41.473909,3832.446538,19.432455,25.480769,3.0,2

In [ ]:

df_train=df_train.dropna()

In [ ]:
df_test

,radio_frequency,B_field,capture_rad,dist_from_obs_ly,star1_redshift,luminosity,star2_redshift,ext_temp,b_class
0,13.847038,3.420000e-09,35.892849,42.190316,19.317659,5030.024313,41.062202,16.519720,2
1,17.357120,2.160000e-09,40.926183,29.073718,26.641200,4189.809739,36.989132,30.487612,3
2,45.458139,4.020000e-09,25.771537,15.126236,34.508841,4766.252434,26.678785,29.433535,3
3,13.459710,2.170000e-09,33.077063,41.986773,20.032369,5084.220616,30.830743,31.030701,3
4,27.787212,2.150000e-09,24.157264,41.986773,18.400701,2158.500688,18.289046,31.333728,3
...,...,...,...,...,...,...,...,...,...
495,30.268835,3.790000e-09,43.004674,23.244364,29.226268,4739.416892,37.990132,23.608112,2
496,38.148344,3.910000e-09,24.950179,41.986773,35.643537,6211.252410,29.525682,33.393150,2
497,34.173976,4.450000e-09,26.422615,20.394055,31.607640,5376.443164,40.623018,27.622435,2
498,33.158077,4.630000e-09,43.004674,33.954285,41.343852,3045.215072,21.629922,16.519720,3
499,23.304440,2.610000e-09,38.347364,26.409209,19.639606,4459.603199,38.362224,12.442378,3

In [ ]:
df_train

,radio_frequency,B_field,capture_rad,dist_from_obs_ly,star1_redshift,luminosity,star2_redshift,ext_temp,b_class,target
1,44.166331,4.510000e-09,43.004674,28.397134,28.943042,4230.266381,28.181097,26.047880,2.0,1
4,30.268452,3.800000e-09,26.458232,11.548628,21.498649,6237.993588,25.976439,27.169169,2.0,3
5,45.758172,4.790000e-09,33.069141,35.703142,36.082859,2774.746406,20.983020,16.989387,2.0,2
6,44.166331,3.310000e-09,9.796517,28.955755,12.131275,2337.382377,19.185568,33.612046,2.0,3
7,36.050881,3.970000e-09,30.857818,19.674179,30.445047,4683.183157,27.999956,33.492452,1.0,4
...,...,...,...,...,...,...,...,...,...,...
1991,24.756548,3.350000e-09,42.539275,34.874516,22.447339,5026.922201,39.111349,27.783576,3.0,5
1992,33.250408,3.660000e-09,24.641387,26.568518,19.986972,2684.026649,28.033468,22.760159,2.0,3
1993,44.166331,3.540000e-09,25.637203,16.082163,22.664991,4101.853910,35.724976,30.244266,2.0,1
1996,31.104158,3.000000e-09,43.004674,16.859181,31.464783,4178.867596,22.679037,24.569472,2.0,1
1998,37.997708,3.640000e-09,20.748943,39.666448,41.473909,3832.446538,19.432455,25.480769,3.0,2

In [ ]:
print(df_train.iloc[:, 0:9])
X_train=df_train.iloc[:, 0:9].values

      radio_frequency       B_field  capture_rad  dist_from_obs_ly  \
1           44.166331  4.510000e-09    43.004674         28.397134
4           30.268452  3.800000e-09    26.458232         11.548628
5           45.758172  4.790000e-09    33.069141         35.703142
6           44.166331  3.310000e-09     9.796517         28.955755
7           36.050881  3.970000e-09    30.857818         19.674179
...               ...           ...          ...               ...
1991        24.756548  3.350000e-09    42.539275         34.874516
1992        33.250408  3.660000e-09    24.641387         26.568518
1993        44.166331  3.540000e-09    25.637203         16.082163
1996        31.104158  3.000000e-09    43.004674         16.859181
1998        37.997708  3.640000e-09    20.748943         39.666448

      star1_redshift   luminosity  star2_redshift   ext_temp  b_class
1          28.943042  4230.266381       28.181097  26.047880      2.0
4          21.498649  6237.993588       25.976439  27.169169      2.0
5          36.082859  2774.746406       20.983020  16.989387      2.0
6          12.131275  2337.382377       19.185568  33.612046      2.0
7          30.445047  4683.183157       27.999956  33.492452      1.0
...              ...          ...             ...        ...      ...
1991       22.447339  5026.922201       39.111349  27.783576      3.0
1992       19.986972  2684.026649       28.033468  22.760159      2.0
1993       22.664991  4101.853910       35.724976  30.244266      2.0
1996       31.464783  4178.867596       22.679037  24.569472      2.0
1998       41.473909  3832.446538       19.432455  25.480769      3.0

[989 rows x 9 columns]

In [ ]:
X_test=df_test.iloc[:, 0:9].values
print(X_test)

[[1.38470382e+01 3.42000000e-09 3.58928486e+01 ... 4.10622022e+01
  1.65197205e+01 2.00000000e+00]
 [1.73571203e+01 2.16000000e-09 4.09261827e+01 ... 3.69891316e+01
  3.04876115e+01 3.00000000e+00]
 [4.54581390e+01 4.02000000e-09 2.57715369e+01 ... 2.66787853e+01
  2.94335355e+01 3.00000000e+00]
 ...
 [3.41739763e+01 4.45000000e-09 2.64226150e+01 ... 4.06230176e+01
  2.76224351e+01 2.00000000e+00]
 [3.31580772e+01 4.63000000e-09 4.30046743e+01 ... 2.16299225e+01
  1.65197205e+01 3.00000000e+00]
 [2.33044403e+01 2.61000000e-09 3.83473642e+01 ... 3.83622240e+01
  1.24423784e+01 3.00000000e+00]]

In [ ]:
y_train=df_train.iloc[:,9].values.reshape(-1)
print(y_train)

[1 3 2 3 4 1 3 2 2 4 3 1 2 1 3 5 1 3 1 2 5 5 1 5 5 1 4 4 2 3 1 4 1 5 5 3 2
 3 1 1 3 1 1 3 1 3 5 1 5 4 4 1 5 1 5 5 1 2 2 2 2 1 1 5 3 3 3 2 4 3 4 4 2 2
 1 1 3 3 4 4 5 3 2 1 3 2 3 3 5 3 5 2 2 1 4 4 3 3 3 5 4 1 4 5 5 5 5 4 2 2 5
 2 2 3 4 5 2 4 1 3 5 1 1 2 3 2 4 3 2 4 5 3 1 2 5 5 1 3 1 2 2 5 1 3 4 1 3 1
 2 3 5 1 5 1 2 2 3 5 3 2 3 4 1 3 2 3 3 2 5 4 2 2 5 4 1 2 3 2 5 2 5 2 2 1 2
 2 1 2 2 2 2 5 2 3 3 5 1 2 4 5 5 5 1 2 3 4 3 4 3 1 5 2 1 1 4 4 5 1 1 5 5 1
 4 5 4 5 3 4 2 5 4 2 5 3 1 5 4 1 3 5 5 2 4 4 1 3 4 5 4 3 3 3 4 2 2 1 2 2 2
 5 1 5 5 4 3 3 4 2 4 5 5 3 2 1 2 5 2 4 3 2 4 1 3 1 2 1 1 1 2 2 1 3 5 1 4 4
 1 3 3 4 2 4 1 4 4 2 3 1 3 3 5 2 4 4 1 1 5 2 3 3 4 2 1 2 4 5 4 3 3 2 5 2 2
 5 3 2 2 5 5 4 1 3 3 5 2 2 2 1 2 4 2 3 4 3 4 5 1 2 1 3 5 4 3 2 2 4 4 5 1 2
 1 1 5 3 2 3 4 4 2 4 2 2 1 2 5 2 1 1 5 1 4 1 2 3 3 5 5 3 3 1 1 5 2 5 5 2 1
 2 5 1 3 1 5 1 4 5 4 1 1 5 1 1 4 5 1 3 4 3 1 4 5 4 4 3 5 5 4 4 4 4 1 4 2 4
 1 2 3 3 1 3 1 3 3 4 5 2 5 4 1 1 4 4 2 1 1 3 3 2 4 5 3 3 4 2 5 4 5 1 1 3 5
 5 2 1 2 4 2 3 2 4 1 1 2 4 3 4 1 5 4 3 1 1 4 1 4 5 3 3 4 3 4 5 5 2 4 5 4 5
 5 3 2 3 5 4 3 2 4 4 5 4 4 4 4 5 5 4 4 5 3 2 3 4 3 4 3 4 2 1 1 2 2 2 2 3 1
 5 1 4 2 4 3 4 5 2 4 5 2 1 3 2 4 4 4 2 3 3 2 5 5 1 2 2 4 4 5 4 1 1 3 1 4 5
 2 1 3 3 2 3 5 1 2 3 5 5 4 1 5 5 4 4 2 1 1 1 5 1 2 1 5 3 3 1 5 1 2 2 3 2 5
 5 2 5 4 4 2 5 5 5 4 5 3 2 4 1 2 2 5 3 4 1 2 2 4 3 4 2 3 5 2 5 2 5 5 3 4 2
 1 4 1 4 4 5 5 3 2 4 1 4 2 1 2 3 2 5 1 3 5 5 1 3 1 2 2 5 3 2 2 3 5 3 5 1 5
 4 5 4 1 1 4 3 5 1 1 1 5 1 5 2 3 5 4 1 5 1 4 5 2 5 1 1 5 3 1 5 5 2 5 1 1 5
 1 3 5 4 4 2 4 3 3 4 4 3 3 4 3 3 3 2 3 5 3 1 3 1 4 4 2 1 3 4 5 5 4 1 5 5 4
 2 2 3 4 3 3 3 1 4 2 5 5 3 3 5 4 3 2 5 1 2 1 3 2 3 4 2 4 3 5 5 4 1 5 3 2 2
 2 4 2 2 1 3 1 1 4 2 4 5 2 5 3 5 5 5 2 1 4 1 4 2 2 5 1 5 4 1 3 4 3 5 5 3 2
 1 2 3 3 5 1 4 5 4 1 5 2 3 3 3 3 5 4 5 5 5 5 2 4 1 3 5 1 2 5 1 2 5 1 4 5 2
 3 5 1 1 1 5 1 5 1 1 5 5 5 5 1 3 1 4 2 3 5 2 2 5 4 4 3 3 4 1 3 1 5 3 2 5 4
 5 3 3 1 2 1 5 3 5 3 5 3 1 1 1 1 2 5 4 3 4 5 1 3 2 2 5 4 3 1 4 4 2 5 5 4 5
 5 1 1 4 1 3 1 4 3 5 1 5 5 5 4 3 3 5 2 4 2 3 5 3 1 1 2]

In [ ]:
y_test=df_train.iloc[:,9].values.reshape(-1)
print(y_test)

[1 3 2 3 4 1 3 2 2 4 3 1 2 1 3 5 1 3 1 2 5 5 1 5 5 1 4 4 2 3 1 4 1 5 5 3 2
 3 1 1 3 1 1 3 1 3 5 1 5 4 4 1 5 1 5 5 1 2 2 2 2 1 1 5 3 3 3 2 4 3 4 4 2 2
 1 1 3 3 4 4 5 3 2 1 3 2 3 3 5 3 5 2 2 1 4 4 3 3 3 5 4 1 4 5 5 5 5 4 2 2 5
 2 2 3 4 5 2 4 1 3 5 1 1 2 3 2 4 3 2 4 5 3 1 2 5 5 1 3 1 2 2 5 1 3 4 1 3 1
 2 3 5 1 5 1 2 2 3 5 3 2 3 4 1 3 2 3 3 2 5 4 2 2 5 4 1 2 3 2 5 2 5 2 2 1 2
 2 1 2 2 2 2 5 2 3 3 5 1 2 4 5 5 5 1 2 3 4 3 4 3 1 5 2 1 1 4 4 5 1 1 5 5 1
 4 5 4 5 3 4 2 5 4 2 5 3 1 5 4 1 3 5 5 2 4 4 1 3 4 5 4 3 3 3 4 2 2 1 2 2 2
 5 1 5 5 4 3 3 4 2 4 5 5 3 2 1 2 5 2 4 3 2 4 1 3 1 2 1 1 1 2 2 1 3 5 1 4 4
 1 3 3 4 2 4 1 4 4 2 3 1 3 3 5 2 4 4 1 1 5 2 3 3 4 2 1 2 4 5 4 3 3 2 5 2 2
 5 3 2 2 5 5 4 1 3 3 5 2 2 2 1 2 4 2 3 4 3 4 5 1 2 1 3 5 4 3 2 2 4 4 5 1 2
 1 1 5 3 2 3 4 4 2 4 2 2 1 2 5 2 1 1 5 1 4 1 2 3 3 5 5 3 3 1 1 5 2 5 5 2 1
 2 5 1 3 1 5 1 4 5 4 1 1 5 1 1 4 5 1 3 4 3 1 4 5 4 4 3 5 5 4 4 4 4 1 4 2 4
 1 2 3 3 1 3 1 3 3 4 5 2 5 4 1 1 4 4 2 1 1 3 3 2 4 5 3 3 4 2 5 4 5 1 1 3 5
 5 2 1 2 4 2 3 2 4 1 1 2 4 3 4 1 5 4 3 1 1 4 1 4 5 3 3 4 3 4 5 5 2 4 5 4 5
 5 3 2 3 5 4 3 2 4 4 5 4 4 4 4 5 5 4 4 5 3 2 3 4 3 4 3 4 2 1 1 2 2 2 2 3 1
 5 1 4 2 4 3 4 5 2 4 5 2 1 3 2 4 4 4 2 3 3 2 5 5 1 2 2 4 4 5 4 1 1 3 1 4 5
 2 1 3 3 2 3 5 1 2 3 5 5 4 1 5 5 4 4 2 1 1 1 5 1 2 1 5 3 3 1 5 1 2 2 3 2 5
 5 2 5 4 4 2 5 5 5 4 5 3 2 4 1 2 2 5 3 4 1 2 2 4 3 4 2 3 5 2 5 2 5 5 3 4 2
 1 4 1 4 4 5 5 3 2 4 1 4 2 1 2 3 2 5 1 3 5 5 1 3 1 2 2 5 3 2 2 3 5 3 5 1 5
 4 5 4 1 1 4 3 5 1 1 1 5 1 5 2 3 5 4 1 5 1 4 5 2 5 1 1 5 3 1 5 5 2 5 1 1 5
 1 3 5 4 4 2 4 3 3 4 4 3 3 4 3 3 3 2 3 5 3 1 3 1 4 4 2 1 3 4 5 5 4 1 5 5 4
 2 2 3 4 3 3 3 1 4 2 5 5 3 3 5 4 3 2 5 1 2 1 3 2 3 4 2 4 3 5 5 4 1 5 3 2 2
 2 4 2 2 1 3 1 1 4 2 4 5 2 5 3 5 5 5 2 1 4 1 4 2 2 5 1 5 4 1 3 4 3 5 5 3 2
 1 2 3 3 5 1 4 5 4 1 5 2 3 3 3 3 5 4 5 5 5 5 2 4 1 3 5 1 2 5 1 2 5 1 4 5 2
 3 5 1 1 1 5 1 5 1 1 5 5 5 5 1 3 1 4 2 3 5 2 2 5 4 4 3 3 4 1 3 1 5 3 2 5 4
 5 3 3 1 2 1 5 3 5 3 5 3 1 1 1 1 2 5 4 3 4 5 1 3 2 2 5 4 3 1 4 4 2 5 5 4 5
 5 1 1 4 1 3 1 4 3 5 1 5 5 5 4 3 3 5 2 4 2 3 5 3 1 1 2]

In [ ]:
print("Shape of X_train: ", X_train.shape )  #X_train.shape
print("Shape of X_test: ", X_test.shape )  #X_test.shape
print("Shape of y_train: ", y_train.shape )  #y_train.shape
print("Shape of y_test", y_test.shape )  #y_test.shape

Shape of X_train:  (989, 9)
Shape of X_test:  (500, 9)
Shape of y_train:  (989,)
Shape of y_test (989,)

In [ ]:
SVC_model = SVC(kernel="linear")
SVC_model.fit(X_train,y_train)

SVC(kernel='linear')

In [ ]:
SVC_model.fit(X_train, y_train)
y_predict_SVC = SVC_model.predict(X_test)




print('Predicted :', y_predict_SVC,'\n')

Predicted : [5 5 4 5 3 1 4 1 4 4 2 5 3 4 2 5 1 2 3 2 4 3 4 3 5 1 2 5 2 4 2 5 1 5 1 3 5
 1 4 4 1 3 4 1 2 5 5 4 3 3 1 4 2 4 3 2 3 5 5 2 2 4 3 5 4 2 1 2 1 4 5 2 2 2
 1 5 3 1 3 4 3 5 1 4 4 5 4 5 3 5 5 1 4 5 1 2 5 3 3 1 2 2 5 4 5 5 5 3 3 2 2
 4 1 3 2 3 1 4 3 4 5 5 5 2 3 1 5 2 2 1 4 3 5 1 4 1 1 4 5 5 5 5 2 4 4 4 2 3
 1 4 4 4 1 4 5 3 2 4 4 3 3 5 2 2 1 3 5 3 1 1 2 2 2 2 5 2 5 5 1 3 3 2 1 2 4
 5 2 2 4 4 3 5 3 5 1 4 5 5 2 4 4 3 3 3 4 1 4 5 2 4 1 2 2 4 5 3 1 5 4 4 2 3
 3 3 5 3 4 2 2 5 2 5 1 4 4 3 5 2 5 3 4 5 2 5 5 1 1 2 2 4 1 4 5 5 1 2 4 1 4
 2 2 3 4 5 5 1 3 2 5 3 4 1 2 1 4 3 3 5 5 2 3 4 2 4 2 2 2 3 3 5 4 3 4 2 1 1
 5 4 5 3 2 5 1 3 2 2 3 2 1 2 4 4 4 4 4 4 4 3 1 2 5 1 1 1 5 4 5 2 2 5 4 5 5
 2 1 5 3 5 2 4 4 5 5 2 2 1 4 1 4 5 4 2 2 4 1 2 5 4 1 3 2 4 4 4 1 4 5 1 1 2
 3 3 5 2 4 5 4 2 3 5 1 5 5 4 4 4 2 3 1 3 1 1 4 3 1 4 4 2 5 5 3 3 2 2 4 5 2
 5 5 5 5 4 5 4 4 2 1 4 4 4 1 1 1 3 4 5 2 1 2 3 2 4 5 1 3 3 4 1 1 2 3 2 5 1
 4 4 1 4 5 5 4 3 4 3 4 3 5 3 4 4 1 5 5 4 4 5 1 3 3 3 5 3 2 4 3 4 2 2 2 1 4
 2 4 3 1 1 4 2 4 4 2 4 4 5 5 5 4 1 2 5]

In [ ]:
arr=np.arange(500)

In [ ]:
df_submission = pd.DataFrame(data={'target':y_predict_SVC})

In [ ]:
df_submission["target"] = df_train["target"].map({1:"Alpha Boreas" , 2: "Beta Eioneous",3:"Zeta Draconis",4:'Gamma Saggita',5:'Alpha Hemithea'})

In [ ]:
df_submission.head(40)

            target
0              NaN
1     Alpha Boreas
2              NaN
3              NaN
4    Zeta Draconis
5    Beta Eioneous
6    Zeta Draconis
7    Gamma Saggita
8              NaN
9     Alpha Boreas
10   Zeta Draconis
11             NaN
12             NaN
13             NaN
14             NaN
15   Beta Eioneous
16             NaN
17   Beta Eioneous
18   Gamma Saggita
19   Zeta Draconis
20             NaN
21    Alpha Boreas
22             NaN
23   Beta Eioneous
24    Alpha Boreas
25   Zeta Draconis
26             NaN
27             NaN
28             NaN
29  Alpha Hemithea
30    Alpha Boreas
31             NaN
32   Zeta Draconis
33    Alpha Boreas
34   Beta Eioneous
35  Alpha Hemithea
36             NaN
37             NaN
38             NaN
39             NaN

In [ ]:
df_submission.to_csv('/content/gdrive/MyDrive/beg hypothesis/submission 2.txt')